 #root {
  
 
 
}


.titulo_fondo_negro {
 
  margin-top: -2.5rem;
  background-color: black; /* si quieres fondo negro */
  color: white;
  padding: 1rem;
 text-align: center;
}

.titulo_fondo_negro img {
  max-width: 35vh; /* para no crecer demasiado en pantallas grandes dentro del móvil */
  height: auto;
  margin: 0 auto;
  margin-right: -4rem;
  margin-left: -7rem;
  margin-bottom: 0.5rem;

 
}

.titulo_fondo_negro h1 {
  font-size: clamp(2rem, 15vw, 6rem);
  letter-spacing: 0.3em;  /* más proporcional */
  line-height: 1;         /* evita que baje o suba */
  white-space: nowrap;    /* evita que se parta en varias líneas */
  overflow: hidden;       /* por si acaso */
  text-overflow: ellipsis; /* no es crítico pero protege */
}


.titulo_fondo_negro h1 span  { 
 position: relative;
 margin-left: -3rem;
  top: 5px; /* mueve el span 10px hacia abajo */
  
}
.titulo_fondo_negro .h1Abajo{
  margin-top: -3.5rem;
  
}
.ingreso {
  margin-left: 0; /* mejor sin margen para evitar scroll */
  width: 100vw;    /* ancho correcto */
  height: 100vh;   /* alto correcto */
  background-image: url('/fondo_tlfno.jpg');
  
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.login{
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 5rem;
  max-width: 45rem;
}
.datos{
  font-size: 3vh;
}
.datos p{
  color: #ffff;
  margin-bottom: -0.2rem;
}
.datos input{
  border: none;            /* Sin borde */
  border-bottom: 1px solid #ccc; /* Línea fina solo abajo para estilo */
  height: 100%;
  outline: none;           /* Quita el contorno al hacer foco */
  padding: 0.5rem 0;       
  background: transparent; /* Fondo transparente */
  font-size: 1rem;
  transition: border-color 0.3s ease;
}
.datos input:focus {
  border-bottom-color: yellow; /* Cambia color al enfocar */
}
form button{
  margin-top: 2rem;
  color: black;
  background-color: yellow ;
}

.pantalla_desktop{
 
 background-image: url("/fondo_desktop.jpg");
 margin-top: -1rem;
 padding-bottom: -1rem;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; /* imagen fija */
  display: flex;
  flex-wrap: wrap; /* permite que tus col-lg-6 se acomoden */
}
.pantalla_desktop > .col-lg-6 {
  padding: 0 !important; /* evita padding extra */
}

.login-Desktop{
 margin-top: 40vh;
  
 
}

.titulo_desktop{
 background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centra verticalmente */
  height: 100%; /* ocupa el alto del padre */
  padding: 2rem; /* opcional, para separar del borde */
}
@media (max-width: 1000px) {
  .titulo_desktop {
    justify-content: flex-start; /* en tablet empieza más arriba */
    margin-top: 0rem; /* baja un poco sin usar márgenes negativos */
  }
  .login-Desktop{
 margin-top: -45vh;
  max-width: 200rem;
}

}
@media (min-width: 850px) {
  
.datos{
  font-size: 4vh;
}
}