/* #root {
  
 
}
*/

.titulo_fondo_negro {
 
  margin-top: -2.5rem;
  background-color: black; /* si quieres fondo negro */
  color: white;
  padding: 1rem;
 text-align: center;
}

.titulo_fondo_negro img {
  max-width: 35vh; /* para no crecer demasiado en pantallas grandes dentro del móvil */
  height: auto;
  margin: 0 auto;
  margin-right: -4rem;
  margin-left: -7rem;
  margin-bottom: 0.5rem;

 
}

.titulo_fondo_negro  h1 {
  font-size: 19vw;  /* texto proporcional al ancho */
  
   letter-spacing: 15px /*para la ceparacion entre las letras*/

}
.titulo_fondo_negro h1 span  { 
 position: relative;
 margin-left: -3rem;
  top: 5px; /* mueve el span 10px hacia abajo */
  
}
.titulo_fondo_negro .h1Abajo{
  margin-top: -3.5rem;
  
}
.ingreso {
  margin-left: 0; /* mejor sin margen para evitar scroll */
  width: 100vw;    /* ancho correcto */
  height: 100vh;   /* alto correcto */
  background-image: url('/fondo_tlfno.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


.login{
  text-align: center;
  padding-top: 8rem;
  padding-bottom: 5rem;
  max-width: 45rem;
}
.datos{
  font-size: 3vh;
}
.datos p{
  color: #ffff;
  margin-bottom: -0.2rem;
}
.datos input{
  border: none;            /* Sin borde */
  border-bottom: 1px solid #ccc; /* Línea fina solo abajo para estilo */
  outline: none;           /* Quita el contorno al hacer foco */
  padding: 0.5rem 0;       
  background: transparent; /* Fondo transparente */
  font-size: 1rem;
  transition: border-color 0.3s ease;
}
.datos input:focus {
  border-bottom-color: yellow; /* Cambia color al enfocar */
}
form button{
  margin-top: 2rem;
  color: black;
  background-color: yellow ;
}
